.car_info_block{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.tabs_mob{
  display: none !important;
}
@media (max-width: 1024px){
  .tabs_desk{
    display: none !important;
  }
  .tabs_mob{
    display: block !important;
    order: 1111;
    width: 100%;
    overflow: auto;

  }
  .car_info_block{
    display: block;
  }
}