.menu_button {
  color: var(--prime-black);
  margin-right: 20px !important;

}

.list {
  margin: 10px;
    li {
      margin: 5px 0;
      font-size: 16px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        background: var(--prime-color);
      }
    }

}

.summary{
  .Mui-expanded{
    margin: 0 !important;
    div{
      margin-bottom: 0px !important;
    }
  }
}

@media (max-width: 510px){
  .li_text{
    font-size: 12px;
  }
}

@media (max-width: 420px){
  .li_text{
    font-size: 9px;
  }
}

.acc{
  .MuiAccordionDetails-root{
    padding: 0 !important;
  }
}

