.car_card {
  position: sticky;
  top: 0;
  max-width: 550px;
  min-width: 320px;
  width: 100%;
  padding: 20px;
  background: var(--car_card-background);

  .car_name {
    font-size: 22px;
    color: var(--prime-black);
    margin-bottom: 20px;
  }

  .year {
    font-size: 15px;
    color: var(--prime-gray);
    margin-bottom: 40px;
  }

  .features {
    margin-bottom: 50px;
    ul {
      li {
        margin: 5px 0;
        position: relative;
        font-size: 15px;
        display: flex;
        gap: 10px;
        align-items: center;

        &:before {
          font-family: Iconfont !important;
          font-size: 25px;
          color: var(--prime-gray);
        }

        &:nth-child(1):before {
          content: "\f156";
        }

        &:nth-child(2):before {
          content:"\f15c" ;
        }

        &:nth-child(3):before {
          content: "\f158";
        }

        &:nth-child(4):before {
          content:"\f161" ;
        }
      }
    }
  }
  .price{
    margin-bottom: 30px;
    h5{
      font-size: 36px;
      color: var(--prime-black);
    }
  }
  .button{
    margin-bottom: 20px;
    button{
      width: 100%;
      color: #fff;
      background: var(--prime-color);
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .location{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    &:before{
      content: "\f12b";
      font-family: Iconfont !important;
      font-size: 18px;
    }
  }
}