.sortBarBlock{
  background: var(--prime-white);
  padding: 0px 15px;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  div{
    font-size: 14px;
    color: var(--prime-light-gray);
  }
}

@media (max-width: 900px) {
  .sortBarBlock{
    justify-content: center;
  }
}