.top_block {
  margin: 0 0 50px 0;
  display: grid;
  padding: 10px 21px;
  color: black !important;

  .button {
    color: var(--prime-black);
    font-weight: bold;
    font-size: 15px;

    &:hover {
      color: var(--prime-color);
    }
  }

  .card {
    padding: 10px 20px;
    font-size: 15px !important;
    color: black;

    h3 {
      font-family: Fonts !important;
      font-size: 22px !important;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      .dot {
        width: 7px;
        height: 7px;
        background: black;
        border-radius: 50%;
      }
    }

    p {
      font-family: Fonts !important;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
      &:last-child{
        span{
          color: var(--card-color-gray);
        }
      }

      .dot {
        width: 7px;
        height: 7px;
        background: black;
        border-radius: 50%;
      }
    }
  }
}

