.countBlock {
  display: none;
  border-bottom: solid 1px rgb(220, 220, 220);
  background: var(--prime-background);


  div {
    &:first-child {
      //display: grid;
      //grid-template-columns: 1fr;
      //align-items: center;
      //justify-content: center;
      grid-gap: 40px;
      //border-bottom: solid 1px rgb(220, 220, 220);
      //padding: 30px 10px 25px;
      h6, h5 {
        align-self: center;
        justify-self: center;
      }

      h6 {
        color: var(--prime-light-gray);
        font-size: 14px;
      }

      h5 {
        color: var(--prime-black);
        font-size: 20px;
      }
    }

    //&:last-child{
    //  display: grid;
    //  padding: 0 16px 20px;
    //}
    //.form{
    //  display: grid;
    //  justify-content: flex-start;
    //}
  }

  .disabled {
    opacity: 0.6;
    color: var(--prime-light-gray);
  }
}

@media (max-width: 900px){
  .countBlock{
    display: block;
  }
}