.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 20px 2px var(--prime-light-gray);
  padding-left: 15px;
  background: var(--prime-white);
  p{
    font-size: 18px;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    //background: unset;
    width: 50px;
    height: 100%;
  }
}