.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(217deg, var(--prime-color) 62%, var(--prime-black) 22%);
  height: 80px;

  button {
    max-width: 350px;
    background: var(--prime-white);
    color: var(--prime-black);
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    margin: 0 15px;
  }
}