.sideBarBlock {
  flex-basis: 25%;
  width: 100%;

}

.wrapper {
  background: var(--prime-white);
  min-width: 275px;
}

.priceContainer {
  display: flex;
  grid-gap: 20px;
  margin-bottom: 15px;
}

.accordContainer{
  display: grid;
}


@media (max-width: 900px){
  .sideBarBlock{
    display: none;
  }
}