@import "style/nullstyle";
@import 'style/fonts';

.App {
  //mitsu
  //--prime-color: #ed1c24;
  //lada
  --prime-color: #e37639;
  //--------
  //renault
  //--prime-color: #ffcc33;
  --backgroundBody:#d7d7d7;
  --prime-background:#e3e3e3;

  --prime-black: #222;
  --prime-gray: #808080;
  --prime-white:#fff;
  --prime-light-gray: #a1a1a1;
  --headerCar-title-size: 36px;
  --headerCar-item-font-size:16px;
  --grid-template-header-car: repeat(7, 1fr);
  --wrapper-max-width:1520px;
  --box-shadow-resultBlockList-item:4px 5px 20px 1px #0000004a;

  font-family: Fonts;
  min-height: calc(100vh - 300px);
  box-sizing: border-box;
  font-weight: normal;
  color: var(--prime-black);
  display: grid;
  grid-gap: 20px;
  background: var(--prime-background);
  .wrapper{
    max-width: var(--wrapper-max-width);
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    grid-gap: 20px;
    //lada
    padding: 20px 15px;
    //padding:100px 15px;
    //renault
    //padding:150px 15px;
    box-sizing: border-box;
  }
  p+p{
    margin-top: 0;
  }
}

//
////renault
//@media (max-width: 768px){
//  .App{
//    .wrapper{
//      padding: 90px 15px !important;
//    }
//  }
//}

//stock.aps.by
//@media (max-width: 1199px){
//  .App{
//    .wrapper{
//      padding: 80px 15px !important;
//    }
//  }
//}