.button {
  background: var(--prime-color);
  padding: 7px 18px;
  outline: none;
  color: var(--prime-white);
  font-size: 13px;
  transition: 0.3s;
  border-radius: 2px;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: .3s;

  &:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 200px;
    top: -50px;
    left: -100px;
    background: rgba(255, 255, 255, 0.45);
    transform: rotate(45deg);
  }
  &:hover:before{
    animation: 3s linear   infinite running slideIn;
  }
}

@keyframes slideIn {
  0% {
  transform: rotate(45deg)  translateX(0px);
  }

  100% {
    transform:  translateX(4000px);
  }
}